In [ ]:
import numpy as np

In [ ]:
ds = np.loadtxt(
                'space.csv',
                delimiter=';',
                dtype=str,
                encoding='utf-8'
                )

In [ ]:
print(ds)

[['\ufeffNum' 'Company Name' 'Location' ... 'Status Rocket' ' Cost'
  'Status Mission']
 ['0' 'SpaceX' 'LC-39A Kennedy Space Center Florida USA' ...
  'StatusActive' '50.0 ' 'Success']
 ['1' 'CASC' 'Site 9401 (SLS-2) Jiuquan Satellite Launch Center China'
  ... 'StatusActive' '29.75 ' 'Success']
 ...
 ['4321' 'US Navy' 'LC-18A Cape Canaveral AFS Florida USA' ...
  'StatusRetired' '0' 'Failure']
 ['4322' 'RVSN USSR' 'Site 1/5 Baikonur Cosmodrome Kazakhstan' ...
  'StatusRetired' '0' 'Success']
 ['4323' 'RVSN USSR' 'Site 1/5 Baikonur Cosmodrome Kazakhstan' ...
  'StatusRetired' '0' 'Success']]

1) Porcentagem de missoes que deram certo

In [ ]:
ds_status = ds[1:, 7]
success_rate = ((np.sum(ds_status == "Success") / 4324) * 100)

In [ ]:
print(success_rate, "%")

89.70860314523588 %

2) Media de gastos de uma missao espacial

In [ ]:
ds_costs = ds[1:, 6]
ds_costs = ds_costs.astype(float)

In [ ]:
print(ds_costs[ds_costs > 0].mean())

153.7921991701245

3) Missoes realizadas pelos EUA

In [ ]:
ds_locations = ds[1:, 2]
american_missions = np.sum(np.char.find(ds_locations, "USA") >= 0)

print(american_missions)

1344

4) Missao mais cara realizada pela SpaceX

In [ ]:
ds_companies = ds[1:, 1]
spacex_most_expensive = np.max(ds_costs[ds_companies == "SpaceX"])

print(spacex_most_expensive)

90.0

5) Empresas e suas missoes

In [ ]:
companies, missions = np.unique(ds_companies, return_counts=True)

# Mostra cada empresa com sua quantidade
for name, num in zip(companies, missions):
    print(f"{name}: {num}")

AEB: 3
AMBA: 8
ASI: 9
Arianespace: 279
Arm??e de l'Air: 4
Blue Origin: 12
Boeing: 136
CASC: 251
CASIC: 5
CECLES: 4
CNES: 8
Douglas: 1
EER: 1
ESA: 13
Eurockot: 13
ExPace: 10
Exos: 4
General Dynamics: 251
IAI: 11
ILS: 46
IRGC: 1
ISA: 13
ISAS: 30
ISRO: 76
JAXA: 7
KARI: 3
KCST: 5
Khrunichev: 1
Kosmotras: 22
Land Launch: 7
Landspace: 1
Lockheed: 79
MHI: 84
MITT: 7
Martin Marietta: 114
NASA: 203
Northrop: 83
OKB-586: 2
OneSpace: 1
RAE: 2
RVSN USSR: 1777
Rocket Lab: 13
Roscosmos: 55
SRC: 3
Sandia: 1
Sea Launch: 36
SpaceX: 100
Starsem: 1
ULA: 140
US Air Force: 161
US Navy: 17
UT: 5
VKS RF: 201
Virgin Orbit: 1
Yuzhmash: 2
i-Space: 1